* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    padding: .5rem;
    margin: 0 auto;
}
.print {
    position: absolute;
    top: 0px;
    left: 5;
    border: none;
    
}
.print img {
    width: 100%;
    background-position: center;
    object-fit: cover;
}
.addsticker {
    width: 450px;
    /* height: 650px; */
    border: 2px solid #333;
    padding: 1rem;
    position: relative;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.addsticker-top,
.addsticker-mid {
    margin-bottom: 1.5rem;
}

.logostick {
    width: 120px;
    margin-bottom: 1rem;
}

.logostick img {
    width: 100%;
}

.barcodebot {
    width: 100%;
    height: 20px;
}

.barcodebot img {
    width: 100%;
    max-height: 40px;
    height: auto;
    background-position: center;
    object-fit: cover;

}

.addsticker-bot .notes {
    margin-top: 2rem;
    border: 1px solid #000;
    height: auto;
    padding: 0 .5rem;
}

.addsticker-bot .notes p {
    font-size: 13px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .addsticker,
    .addsticker * {
        visibility: visible;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 1200px;
        padding: 1rem;
        margin: 0 auto;
    }

    .addsticker {
        width: 956px;
        height: 1220px;
        border: 2px solid #333;
        padding: 2.5rem 1.5rem;
    }

    p {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
    }

    .addsticker-top,
    .addsticker-mid {
        margin-bottom: 1.5rem;
    }

    .logostick {
        width: 200px;
        margin-bottom: 1rem;
    }

    .logostick img {
        width: 100%;
        object-fit: cover;
        
    }

    .barcodebot {
        width: 100%;
        height: 20px;
    }

    .barcodebot img {
        width: 100%;
        max-height: 80px;
        height: auto;
        background-position: center;
        object-fit: cover;
    }

    .addsticker-bot {
        margin-top: 2rem;
    }

    .addsticker-bot .notes {
        margin-top: 6rem;
        border: 1px solid #000;
        height: auto;
        max-height: 395px;
        padding: 0 .5rem;
    }

    .addsticker-bot .notes p {
        font-size: 23px;
    }

    @page {
        size: 10cm 15cm;
        margin: 0;
    }
}