<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Store - eCommerce</title>


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Mitr' rel='stylesheet'>
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="/static/assets/css/addsticker.css">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="addsticker">
            <div class="addsticker-top">
                <div class="logostick">
                    <img src="/static/img/logo.png" alt="logokoi">
                </div>
                <div class="addressfrom">
                    <p>ชื่อและที่อยู่ผู้จัดส่ง</p>
                    <p>บริษัท โค่ยทูยู จำกัด (สำนักงานใหญ่)</p>
                    <p>109/74 หมู่ที่1 ซอยโมดิวิลล่า 6</p>
                    <p>ถนนหลวงเเพ่ง ตำบลคลองหลวงแพ่ง</p>
                    <p>อำเภอเมืองฉะเชิงเทรา จังหวัดฉะเชิงเทรา 24000</p>
                    <p>โทรศัพท์: 086-545-5434</p>
                </div>
            </div>
            <div class="addsticker-mid">
                <div class="addressto">
                    <p>ชื่อและที่อยู่ผู้รับ</p>
                    <p>{{invoiceDet.firstname}} {{invoiceDet.lastname}}</p>
                    <p>{{invoiceDet.addressText}}</p>
                    <p> {{invoiceDet.subDistrict}} {{invoiceDet.district}}</p>
                    <p> {{invoiceDet.province}} {{invoiceDet.zipcode}}</p>
                    <p>เลขที่ผู้เสียภาษี 0775565001408</p>
                    <p>โทรศัพท์: {{invoiceDet.telNo}}</p>
                </div>
            </div>
            <!-- <div class="addsticker-mid">
                <div class="addressto">
                    <p>ชื่อและที่อยู่ผู้รับ</p>
                    <p>บริษัท ไทย โฮม ดิเวลอปเมนต์ จำกัด</p>
                    <p>เลขที่ 612 หมู่7 ซอย -</p>
                    <p>ถนน - ตำบลหินเหล็กไฟ</p>
                    <p>อำเภอหัวหิน จังหวัดประจวบคีรีขีนธ์ 77110</p> 
                    <p>เลขที่ผู้เสียภาษี 0775565001408</p>
                    <p>โทรศัพท์: 084-802-6886</p> 
                </div>
            </div> -->
            <div class="addsticker-bot">
                <div class="barcodebot">
                    <img src="https://img.freepik.com/free-psd/barcode-illustration-isolated_23-2150584086.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706918400&semt=sph"
                        alt="barcode">
                </div>
                <div class="notes">
                    <p class="headnote"><strong>หมายเหตุ:</strong></p>
                    {% for payDet in invoiceDet.paymentDetail %}
                    {% if loop.index <= 6 %} <p>{{ payDet.qty }} <strong>X</strong> {{ payDet.productName }}</p>
                        {% endif %}
                        {% if loop.index == 7 %}
                        ........*** สินค้าอื่นๆอีก ({{ invoiceDet.paymentDetail|length - 6 }} รายการ) ***........
                        {% endif %}
                        {% endfor %}
                        <!-- <p>3 x ชุดสะดือครบบชุด</p>
                    <p>3 x ชุดสะดือครบบชุด</p>
                    <p>3 x ชุดสะดือครบบชุด</p>
                    <p>3 x ชุดสะดือครบบชุด</p>
                    <p>3 x ชุดสะดือครบบชุด</p> -->
                        <!-- <p> ........*** สินค้าอื่นๆอีก 2 รายการ ***........</p> -->
                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="/static/assets/js/sticker.js"></script>
</body>
<button class="print" onclick="printSticker()"><img
        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/printer-design-template-dad26fbc83a603e2b4ae873bdb1b6b34_screen.jpg?ts=1581063816"
        style="width: 80px;" alt=""></button>

<script>
    function printSticker() {
        window.print();
    }
</script>


</html>