<!DOCTYPE html>
<html>

<head>
    <title>Privacy Policy</title>
    <link href='https://fonts.googleapis.com/css?family=Mitr' rel='stylesheet'>
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- <link href="/static/assets/lib/slick/slick-theme.css" rel="stylesheet"> -->
    <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="my-account">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="text-center">
                    <h3>ข้อตกลงความเป็นส่วนตัว</h3>
                </div>

                <p>ข้อตกลงฉบับนี้เป็นความตกลงระหว่างผู้ใช้งานแอปพลิเคชัน KoiShop App
                    (ต่อไปจะเรียกสั้นๆว่า “ผู้ใช้งาน”) กับบริษัท โค่ยทูยู จำกัด (ต่อไปจะเรียกสั้นๆว่า “บริษัท”)
                    กรุณาอ่านข้อตกลงฉบับนี้อย่างละเอียด หลังจากที่ผู้ใช้งานทำการกดยอมรับและลงทะเบียนแล้ว
                    จะถือว่าทั้งสองฝ่ายมีภาระผูกพันต่อข้อตกลงฉบับนี้ตามกฎหมาย
                </p>
                <br>
                <h5>ข้อ 1 ทั่วไป</h5>

                <p>1.1 บริษัทถือปฏิบัติอย่างเคร่งครัดในเรื่องความเป็นส่วนตัวของข้อมูลผู้ใช้งานเป็นสำคัญ และบริษัทจะเก็บ
                    บันทึก ยึดถือ เก็บรักษา เปิดเผย โอน หรือใช้ข้อมูลของผู้ใช้งานได้ตามที่กำหนดในกรณีดังต่อไปนี้</p>
                <ul>
                    <li>การป้องกันรักษาฐานข้อมูลเป็นเรื่องเกี่ยวกับความน่าเชื่อถือ และความไว้วางใจของผู้ใช้งาน
                        รวมถึงความเป็นส่วนตัวของผู้ใช้งานถือเป็นเรื่องสำคัญของบริษัท
                        ทางบริษัทจะดำเนินการรักษาข้อมูลตามมาตรการประกอบธุรกิจของบริษัท ซึ่งบริษัทจะใช้ชื่อ
                        หรือข้อมูลอื่น ๆ ที่เกี่ยวข้องกับผู้ใช้งาน
                        จำกัดเฉพาะการใดที่กำหนดไว้ในนโยบายความเป็นส่วนตัวเท่านั้น
                        บริษัทจะดำเนินการจัดเก็บข้อมูลเพียงเท่าที่จำเป็นต่อการประกอบธุรกิจของบริษัท การทำธุรกรรม
                        หรือการส่งข้อมูลข่าวสารระหว่างบริษัทกับผู้ใช้งานเท่านั้น</li>
                    <li>บริษัทจะดำเนินการจัดเก็บข้อมูลของผู้ใช้งานภายในระยะเวลาเพียงเท่าที่กฎหมายอนุญาตให้กระทำได้
                        หรือภายในระยะเวลาที่จำเป็น ภายใต้วัตถุประสงค์ของการจัดเก็บข้อมูลนั้น ๆ</li>
                    <li>ผู้ใช้งานสามารถเข้าถึง หรือเข้าใช้งานแอปพลิเคชัน KoiShop App ของบริษัท
                        และเลือกชมสินค้าโดยไม่จำเป็นต้องใช้ข้อมูลส่วนตัวใด ๆ ระหว่างที่เข้าใช้งานแอปพลิเคชัน KoiShop App
                        และสถานะของผู้ใช้งานจะไม่ถูกเปิดเผย
                        โดยไม่ต้องระบุหรือยืนยันตัวตนของผู้ใช้งานตลอดระยะเวลาที่เข้าใช้งานแอปพลิเคชัน
                        เว้นแต่ผู้ใช้งานได้มีบัญชีบนแอปพลิเคชัน และผู้ใช้งานได้เข้าสู่ระบบไม่ว่าจะเป็นในช่องทางเว็บไซต์
                        หรือแอพพลิเคชั่นของบริษัท โดยลงทะเบียนใช้งานด้วยบัญชีและรหัสผ่านของผู้ใช้งานเอง</li>
                </ul>

                <h5>ข้อ 2 การจัดเก็บข้อมูล</h5>

                <p>2.1 ในระหว่างการลงทะเบียนบัญชีผู้ใช้งานและขั้นตอนการใช้งาน บริษัทจะรวบรวม คัดแยก
                    จัดเก็บและเข้าถึงข้อมูล ผู้ใช้งานดังต่อไปนี้</p>
                <ul>
                    <li>ชื่อ – นามสกุล สถานที่จัดส่งสินค้า อีเมล หมายเลขโทรศัพท์เคลื่อนที่</li>
                    <li>ข้อมูลเกี่ยวกับอุปกรณ์:
                        บริษัทจะรวบรวมข้อมูลอุปกรณ์ของฮาร์ดแวร์ที่เชื่อมต่อกับการเข้าสู่ระบบเพื่อเพิ่มความปลอดภัย</li>
                    <li>แหล่งจัดเก็บข้อมูล:
                        บริษัทจะบันทึกข้อมูลการเรียกดูรูปภาพหรือข้อความลงในที่จัดเก็บข้อมูลโทรศัพท์มือถือ</li>
                    <li>ระยะเวลาที่ผู้ใช้งานใช้ในการเยี่ยมชมเว็บไซต์ สินค้า หรือ ข้อมูลที่ผู้ใช้งานสืบค้นบนแอปพลิเคชัน
                        KoiShop App เช่น เวลาเยี่ยมชม วันที่ และข้อมูลสถิติอื่น ๆ</li>
                    <li>ข้อมูลหรือเอกสารอื่น ๆ ที่บริษัทกำหนด</li>
                </ul>
                <p>
                    2.2 ผู้ใช้งานจะต้องจัดส่งข้อมูลให้แก่บริษัท ตัวแทนผู้มีอำนาจจัดการในนามบริษัท
                    หรือจัดส่งข้อมูลเข้าสู่แอปพลิเคชัน KoiShop App เท่านั้น
                    และข้อมูลดังกล่าวจะต้องเป็นข้อมูลที่ถูกต้องแท้จริง ครบถ้วนตามที่บริษัทกำหนดไว้
                    และต้องไม่เป็นข้อมูลที่ทำให้เกิดความเข้าใจผิด
                    โดยผู้ใช้งานจะต้องอัพเดทข้อมูลของตัวผู้ใช้งานให้เป็นปัจจุบันในกรณีที่มีการเปลี่ยนแปลงภายหลังจากการลงทะเบียนใช้งานบนแอปพลิเคชัน
                    KoiShop App ของบริษัทเป็นที่เรียบร้อยแล้ว
                    พร้อมทั้งแจ้งให้บริษัททราบเกี่ยวกับการเปลี่ยนแปลงข้อมูลต่าง ๆ
                    บริษัทขอสงวนสิทธิ์ในการขอเอกสารประกอบเพิ่มเติม
                    เพื่อใช้สำหรับการตรวจสอบความถูกต้องและยืนยันว่าข้อมูลที่ถูกแก้ไขนั้น
                    เป็นข้อมูลที่ถูกต้องตรงตามความเป็นจริงทุกประการ
                </p>
                <p>
                    2.3 บริษัทจะจัดเก็บข้อมูลของผู้ใช้งานที่ผู้ใช้งานได้ให้ไว้แก่บริษัทด้วยความสมัครใจของผู้ใช้งานเอง
                    หากผู้ใช้งานเลือกที่จะไม่ส่งข้อมูลของผู้ใช้งานให้แก่บริษัท
                    หรือเลือกที่จะเพิกถอนความยินยอมในการให้เก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนตัวของผู้ใช้งาน
                    การถอนความยินยอมย่อมไม่ส่งผลกระทบต่อการเก็บรวบรวม ใช้
                    หรือเปิดเผยข้อมูลที่ผู้ใช้งานได้ให้ความยินยอมไว้ก่อนแล้วโดยชอบด้วยกฎหมาย
                    บริษัทมีสิทธิที่จะปฏิเสธให้ใช้งานของผู้ใช้งานได้
                    ผู้ใช้งานจะต้องเข้าถึงและปรับเปลี่ยนข้อมูลของผู้ใช้งานที่ได้ส่งมอบให้บริษัท
                </p>
                <p>
                    2.4 หากผู้ใช้งานได้ส่งมอบข้อมูลของบุคคลภายนอกให้แก่บริษัท บริษัทจะถือว่าผู้ใช้งานได้รับความยินยอม
                    หรือได้รับอนุญาตจากบุคคลภายนอกผู้เป็นเจ้าของข้อมูลแล้วในการให้และเปิดเผยข้อมูลแก่บริษัท
                    หากเกิดความเสียหายจากเหตุในข้อนี้
                    ผู้ใช้งานยินยอมรับผิดในความเสียหายดังกล่าวแต่เพียงผู้เดียวต่อบุคคลภายนอกและต่อบริษัท
                </p>
                <p>
                    2.5 ข้อมูลข้างต้นจะถูกเก็บไว้ในเซิร์ฟเวอร์ของบริษัท
                </p>
                <p>2.6 ข้อมูลเหล่านี้จะถูกรวบรวมเพื่อการวิเคราะห์และประเมินผลเพื่อช่วยให้บริษัทพัฒนาแพลตฟอร์ม
                    บริการและผลิตภัณฑ์ที่บริษัทได้จัดให้มีให้ดียิ่งขึ้น</p>
                <p>
                    2.7 หากข้อมูลที่ให้โดยผู้ใช้งานไม่สมบูรณ์และไม่เป็นจริง
                    ระหว่างการใช้งานฟังก์ชั่นบนแพลตฟอร์มอาจถูกจำกัดหรือไม่สามารถใช้งานได้ทั้งหมดหรือบางส่วน
                </p>
                <br>
                <h5>ข้อ 3 การใช้และการเปิดเผยข้อมูล</h5>

                <p>3.1 บริษัทจะใช้ข้อมูลที่บริษัทได้รับจากการลงทะเบียนของผู้ใช้งาน หรือเปิดเผยแก่บุคคลภายนอก
                    เพื่อประโยชน์ในกิจการของบริษัทไม่ว่าจะเป็นข้อมูลทั้งหมดหรือบางส่วนก็ตาม ซึ่งรวมถึง
                    นิติบุคคลที่บริษัทว่าจ้างให้ดำเนินการดูแลและจัดการกับข้อมูลบนระบบของเซิร์ฟเวอร์
                    ทั้งนี้บริษัทสามารถเปิดเผยขอ้มูลส่วนบุคคลได้ในกรณีดังต่อไปนี้</p>
                <ul>
                    <li>เพื่อดำเนินการหรือสนับสนุนการใช้งาน หรือ เข้าแอปพลิเคชัน KoiShop App</li>
                    <li>เพื่อดำเนินการตามคำสั่งซื้อของผู้ใช้งานที่ลงทะเบียนทางแอปพลิเคชัน KoiShop App ของบริษัท </li>
                    <li>เพื่อการจัดส่งสินค้าที่ผู้ใช้งานได้ซื้อผ่านทางแอปพลิเคชัน
                        ซึ่งบริษัทอาจส่งต่อข้อมูลของผู้ใช้งานแก่บุคคลภายนอก เพื่อการจัดส่งสินค้าให้แก่ผู้ใช้งาน
                        ไม่ว่าจะเป็นการจัดส่งสินค้าให้แก่ผู้ขนส่ง หรือผู้จัดจำหน่ายสินค้า บุคคลภายนอก หรือบริษัทคู่ค้า
                    </li>
                    <li>เพื่อแจ้งให้ผู้ใช้งานทราบเกี่ยวกับการจัดส่งสินค้า ที่ผู้ใช้งานสั่งซื้อบนอปพลิเคชันของบริษัท
                        ที่ขายโดยแอปพลิเคชัน KoiShop App หรือผู้ขายที่เป็นบุคคลภายนอก หรือบริษัทคู่ค้าก็ตาม</li>
                    <li>เพื่อเปรียบเทียบข้อมูลและตรวจสอบกับบุคคลภายนอกเพื่อรับรองความถูกต้องของข้อมูลให้สอดคล้องกับเอกสารที่ใช้ประกอบการลงทะเบียน
                    </li>
                    <li>ในกรณีที่เป็นเหตุยกเว้นความรับผิด และบริษัทถูกร้องขอให้เปิดเผยข้อมูล
                        โดยมีมูลเหตุอันปรากฏว่าหากบริษัทไม่เปิดเผยข้อมูลดังกล่าวอาจมีผลกระทบ หรือเป็นอันตรายต่อชีวิต
                        หรือร่างกายของผู้ใช้งาน
                        หรือกฎหมายบัญญัติให้บริษัทสามารถเปิดเผยข้อมูลได้โดยไม่ต้องได้รับความยินยอมจากเจ้าของข้อมูล
                        หรือผู้ใช้งานแต่อย่างใด หรือสำหรับวัตถุประสงค์ในการบังคับใช้กฎหมาย หรือการปฏิบัติตามกฎหมาย
                        ระเบียบ ข้อบังคับหรือการร้องขออื่นใดจากหน่วยงานราชการ
                        หรือเจ้าหน้าที่ของรัฐอันเป็นการกระทำที่มีอำนาจกระทำการได้ โดยชอบด้วยกฎหมาย</li>
                </ul>
                <p>3.2 บริษัทรับประกันว่าบริษัทจะไม่ประกอบธุรกิจในการค้าข้อมูลของผู้ใช้งาน
                    หรือหากำไรอันเกิดจากข้อมูลของผู้ใช้งานที่ได้ลงทะเบียนบนแอปพลิเคชัน KoiShop App
                    ของบริษัทให้แก่บุคคลภายนอก หรือนิติบุคคลอื่น ไม่ว่าจะเป็นสถาบันทางการเงิน หรือหน่วยงานใดก็ตาม</p>
                <br>
                <h5>ข้อ 4 การเพิกถอนความยินยอม</h5>

                <p>4.1 ผู้ใช้งานอาจส่งคำปฏิเสธการสั่งซื้อสินค้า หรือเพิกถอนความยินยอมในการเก็บรวบรวม ใช้
                    หรือการเปิดเผยข้อมูลของผู้ใช้งานสำหรับกิจการต่าง ๆ
                    หรือเพื่อวัตถุประสงค์ที่ระบุไว้ข้างต้นแก่บริษัทได้ตลอดเวลา
                    โดยแจ้งความประสงค์มายังช่องทางที่บริษัทได้กำหนดไว้ด้านล่างนี้
                    ทั้งนี้ผู้ใช้งานโปรดทราบว่าการส่งคำปฏิเสธการสั่งซื้อสินค้านั้น
                    จะต้องกระทำก่อนที่สินค้ายังมิได้ถูกจัดส่งไปยังที่อยู่ของผู้ใช้งาน
                    หรือผู้ใช้งานได้รับสินค้าแล้วแต่มีความประสงค์ที่จะคืนสินค้ามายังบริษัท
                    โดยจะใช้ต้องกระทำภายในกำหนดระยะเวลาที่บริษัทกำหนดไว้ในส่วนที่เกี่ยวกับการคืนสินค้า
                    มิฉะนั้นบริษัทขอสงวนสิทธิ์ในการเรียกเก็บเงินค่าสินค้าเต็มตามจำนวนราคาสินค้าที่ปรากฎหน้าแพลตฟอร์มของบริษัท
                    รวมถึงค่าขนส่งที่อาจเกิดขึ้น แล้วแต่กรณี</p>
                <p>4.2 ในกรณีที่ผู้ใช้งานยกเลิกบัญชีผู้ใช้งาน ให้ถือว่าเป็นการเพิกถอนความยินยอม
                    บริษัทจะหยุดใช้และลบข้อมูลหรือทำให้ข้อมูลไม่สามารถระบุตัวตนได้ภายใน 60 วัน
                    หลังจากที่ผู้ใช้งานดำเนินการยกเลิกบัญชีการใช้งาน
                    เว้นแต่จะมีการกำหนดไว้เป็นอย่างอื่นตามกฎหมายและกฎอื่น ๆ
                </p>
                <br>
                <h5>ข้อ 5 การอัปเดทข้อมูล</h5>

                <p>5.1 ผู้ใช้งานสามารถอัปเดทเปลี่ยนแปลงข้อมูลของผู้ใช้งานได้ตลอดเวลา
                    โดยการเข้าสู่บัญชีการใช้งานของผู้ใช้งานบนแอปพลิเคชัน KoiShop App ของบริษัท
                    ความในข้อนี้ให้หมายความรวมถึงผู้ใช้งานที่มิได้การลงทะเบียนไว้กับบริษัท แต่ได้ให้ข้อมูลไว้กับบริษัท
                    และมีการเปลี่ยนแปลงข้อมูลของผู้ใช้งานรายนั้น สามารถทำการอัพเดท หรือเปลี่ยนแปลงข้อมูลได้
                    โดยการติดต่อบริษัทผ่านทางช่องทางที่บริษัทกำหนดไว้ด้านล่างนี้
                    ทั้งนี้บริษัทมีสิทธิที่จะขอให้ผู้ใช้งานส่งเอกสารยืนยันตัวตนประกอบการตรวจสอบข้อมูลที่ถูกเปลี่ยนแปลงไปจากเดิมว่าเป็นข้อมูลที่ถูกต้องตรงตามความเป็นจริงทุกประการ
                    อีกทั้งบริษัทสามารถจัดส่งข้อมูลที่มีการเปลี่ยนแปลงข้างต้นนี้ไปยังบุคคลภายนอกที่เป็นคู่ค้ากับบริษัท
                    หรือบริษัทในเครือได้</p>
                <p>5.2 การลบข้อมูล: ในกรณีที่เกิดสถานการณ์ดังต่อไปนี้ ผู้ใช้งานสามารถส่งคำขอไปยังบริษัทเพื่อลบข้อมูลได้:
                </p>
                <ul>
                    <li>เมื่อบริษัทละเมิดกฎหมายและกฎอื่น ๆ</li>
                    <li>เมื่อบริษัทได้รวบรวมและใช้ข้อมูลโดยไม่ได้รับความยินยอมจากผู้ใช้งาน</li>
                    <li>เมื่อบริษัทละเมิดข้อตกลงที่ทำขึ้นโดยและระหว่างผู้ใช้งานกับบริษัท</li>
                    <li>เมื่อผู้ใช้งานไม่ได้ใช้แอปพลิเคชัน KoiShop App อีกต่อไป หรือยกเลิกบัญชีผู้ใช้</li>
                    <li>เมื่อบริษัทไม่ให้ผู้ใช้งานได้ใช้งานอีกต่อไป</li>
                </ul>
                <p>5.3 เมื่อบริษัทตัดสินใจที่จะดำเนินการตามคำร้องขอให้ดำเนินการลบบัญชีการใช้งานของผู้ใช้งาน
                    บริษัทจะแจ้งให้หน่วยงานที่ได้รับข้อมูลจากบริษัท
                    และขอให้หน่วยงานดังกล่าวลบข้อมูลออกภายในเวลาที่เหมาะสม
                    เว้นแต่จะมีการกำหนดไว้เป็นอย่างอื่นโดยกฎหมายและกฎอื่น ๆ
                    หรือหน่วยงานดังกล่าวได้รับความยินยอมจากผู้ใช้งาน</p>
                <p>5.4 เมื่อผู้ใช้งานลบข้อมูลออก บริษัทอาจไม่ดำเนินการลบข้อมูลที่เกี่ยวข้องในระบบข้อมูลสำรองโดยทันที
                    แต่บริษัทจะดำเนินการลบข้อมูลนี้เมื่อระบบข้อมูลสำรองได้รับการอัปเดท</p>
                <br>
                <h5>ข้อ 6 การเข้าถึงข้อมูล</h5>

                <p>6.1 หากผู้ใช้งานต้องการที่จะเข้าดูข้อมูลของผู้ใช้งานที่บริษัทจัดเก็บ หรือต้องการทราบเกี่ยวกับการใช้
                    หรือเปิดเผยข้อมูลของผู้ใช้งานภายในปีที่ผ่านมา
                    ผู้ใช้งานสามารถติดต่อเพื่อแจ้งความประสงค์มายังบริษัทผ่านทางช่องทางที่บริษัทกำหนดไว้ด้านล่างนี้
                    ทั้งนี้บริษัทขอสงวนสิทธิ์ในการคิดค่าธรรมเนียมอันเกิดจากการดำเนินการส่งข้อมูลของผู้ใช้งานให้แก่ผู้ใช้งานตามความในข้อนี้จากผู้ใช้งานตามอัตราที่บริษัทกำหนด
                </p>
                <p>6.2 หากผู้ใช้งานมีบัญชีการใช้งานกับบริษัท
                    ผู้ใช้งานอาจตรวจสอบรายละเอียดเกี่ยวกับการสั่งซื้อสินค้าของผู้ใช้งานได้
                    โดยการเข้าสู่ระบบบัญชีการใช้บริการของผู้ใช้งานบนแอปพลิเคชัน KoiShop App ซึ่งในแอปพลิเคชัน KoiShop
                    App นั้นผู้ใช้งานสามารถตรวจสอบและเรียกดูรายละเอียดเกี่ยวกับการสั่งซื้อสินค้าที่สมบูรณ์แล้ว
                    หรือที่ยังอยู่ระหว่างการสั่งซื้อสินค้า หรืออยู่ระหว่างดำเนินการชำระเงินค่าสินค้า
                    ไม่ว่าจะเป็นการชำระด้วยการโอนเงิน หรือแบบเก็บเงินปลายทางก็ตาม หรือสินค้าอยู่ระหว่างการจัดส่ง
                    ซึ่งผู้ใช้งานสามารถจัดการข้อมูลที่อยู่สำหรับการจัดส่งสินค้า รายละเอียดเกี่ยวกับบัญชีธนาคาร
                    หรือการส่งข่าวสารที่ผู้ใช้งานได้สมัคร หรือตกลงรับสิทธิไว้ได้ อนึ่ง การจัดเก็บชื่อบัญชี รหัสผ่าน
                    และรายละเอียดสินค้าที่สั่งซื้อนั้นเป็นความลับ และบริษัทจะไม่เปิดเผยต่อบุคคลภายนอกที่ไม่ได้รับอนุญาต
                    บริษัทจะไม่รับผิดชอบต่อความเสียหายที่เกิดจากการใช้บัญชี รหัสผ่าน
                    และรายละเอียดการสั่งซื้อสินค้าในทางที่ผิด หรือเกิดจากการกระทำผิดของฝ่ายผู้ใช้งาน
                    หรือผู้ใช้งานยินยอมให้บุคคลอื่นใช้บัญชีและรหัสผ่านของผู้ใช้งานเอง
                    และหากผู้ใช้งานมีหนี้อันเกิดจากการกระทำในครั้งก่อน
                    ผู้ใช้งานจะต้องรับผิดชำระหนี้ให้กับบริษัทเต็มตามจำนวนราคาหรือจำนวนหนี้ที่บริษัทได้รับความเสียหายอันเกิดจากการที่ผู้ใช้งานผิดสัญญาตามความในข้อนี้ด้วย
                </p>
                <br>
                <h5>ข้อ 7 ความปลอดภัยของข้อมูลของผู้ใช้งาน</h5>
                <p>7.1 บริษัทรับรองว่าข้อมูลที่ได้ลงทะเบียนไว้ทั้งหมดจะถูกจัดเก็บอย่างปลอดภัย
                    บริษัทป้องกันข้อมูลของผู้ใช้งานโดย</p>
                <ul>
                    <li>จำกัดการเข้าถึงข้อมูลและมีการยืนยันรหัสผ่านของผู้ใช้งาน</li>
                    <li>จัดให้มีวิธีการทางเทคโนโลยีเพื่อป้องกันไม่ให้มีการเข้าสู่บัญชีของผู้ใช้งานผ่านระบบคอมพิวเตอร์ที่ไม่ได้รับอนุญาต
                    </li>
                    <li>จัดการทำลายข้อมูลส่วนตัวของผู้ใช้งานเพื่อความปลอดภัยเมื่อข้อมูลดังกล่าวไม่จำเป็นสำหรับวัตถุประสงค์ทางกฎหมายและธุรกิจของบริษัทอีกต่อไป
                    </li>
                    <li>รวบรวม ใช้ จัดเก็บ และส่งข้อมูลตามมาตรฐานความปลอดภัย
                        และแจ้งให้ผู้ใช้งานทราบถึงวัตถุประสงค์และขอบเขตของการใช้ข้อมูลที่เกี่ยวข้องผ่านข้อตกลงผู้ใช้งานและนโยบายความเป็นส่วนตัว
                    </li>
                </ul>
                <p>7.2 หากผู้ใช้งานมีเหตุอันเชื่อได้ว่าข้อมูลของผู้ใช้งาน หรือบัญชีและรหัสผ่านของผู้ใช้งาน
                    ถูกแฮ็คหรือถูกละเมิด
                    ผู้ใช้งานต้องแจ้งมายังบริษัททันทีโดยติดต่อผ่านทางช่องทางที่บริษัทกำหนดไว้ด้านล่างนี้
                    พร้อมทั้งแสดงหลักฐานที่เกี่ยวข้องมายังบริษัทด้วย</p>
                <p>7.3 รหัสผ่านของผู้ใช้งานเป็นส่วนสำคัญ
                    และมีความจำเป็นอย่างมากที่ผู้ใช้งานควรต้องมีความระมัดระวังในการเข้าบัญชีในแต่ละครั้ง
                    รวมทั้งต้องไม่แบ่งปันรหัสผ่านของตนเองให้แก่บุคคลอื่น
                    หากผู้ใช้งานได้แบ่งปันรหัสผ่านของตนเองให้แก่ผู้อื่น
                    ผู้ใช้งานจะต้องรับผิดชอบต่อความเสียหายที่เกิดขึ้นจากการเข้าถึงบัญชีของผู้ใช้งานโดยผู้อื่นที่มิใช่ผู้ใช้งานเจ้าของบัญชี
                    หรืออันเกิดจากการประพฤติผิดสัญญาของผู้ใช้งาน หากผู้ใช้งานไม่สามารถจัดการกู้รหัสผ่านกลับคืนมาได้
                    ผู้ใช้งานอาจไม่สามารถควบคุมข้อมูล หรือข้อมูลอื่น ๆ ของผู้ใช้งานไว้ได้
                    ผู้ใช้งานจะต้องยอมรับในนิติกรรมใด ๆ ที่เกิดขึ้นในระหว่างนั้นแต่เพียงผู้เดียว
                    และบริษัทจะไม่รับผิดชอบต่อผู้ใช้งานแต่อย่างใด ดังนั้นหากรหัสผ่านของผู้ใช้งานถูกเปิดเผย
                    หรือไม่เป็นความลับอีกต่อไป ไม่ว่ากรณีใด ๆ หรือผู้ใช้งานมีเหตุผลในทางอื่นใด
                    ผู้ใช้งานจะต้องรีบดำเนินการแก้ไขโดยการเปลี่ยนแปลงรหัสผ่านทันที หรือมีการเปลี่ยนแปลงรหัสผ่านทุก ๆ 3
                    เดือน หรือแจ้งมายังบริษัทผ่านทางช่องทางที่บริษัทกำหนดไว้
                    เพื่อขอแจ้งความประสงค์ที่จะเปลี่ยนแปลงรหัสของผู้ใช้งาน
                    ทั้งนี้ทุกครั้งที่ผู้ใช้งานมิได้ใช้บริการแอปพลิเคชัน KoiShop App ของบริษัทแล้ว
                    บริษัทขอให้ผู้ใช้งานออกจากระบบบัญชีการใช้บริการ (log off) และเคลียแอปพลิเคชัน
                    ทุกครั้งที่ท่านใช้โทรศัพท์มือถือของบุคคลอื่น</p>
                <br>
                <h5>ข้อ 8 ผู้เยาว์</h5>
                <p>8.1 บริษัทจะไม่ขายสินค้าให้แก่ผู้เยาว์หรือเด็ก หากผู้ใช้งานมีอายุต่ำกว่า 20 ปีบริบูรณ์
                    ผู้ใช้งานอาจใช้แอปพลิเคชัน KoiShop App
                    ของบริษัทโดยต้องมีผู้ปกครองหรือผู้ใช้อำนาจปกครองดูแลและให้ความยินยอม
                    ขณะทำรายการจะถือว่าผู้ใช้งานได้ปฏิบัติตามเงื่อนไขดังกล่าวแล้ว</p>
                <p>8.2
                    หากบริษัทพบว่ามีการเก็บรวบรวมข้อมูลของผู้เยาว์โดยไม่ได้รับความยินยอมล่วงหน้าจากผู้ปกครองที่สามารถยืนยันได้
                    บริษัทจะพยายามลบข้อมูลที่เกี่ยวข้องโดยเร็วที่สุด</p>
                <br>
                <h5>ข้อ 9 ไม่มีข้อมูลขยะสแปม สปายแวร์ ไวรัส</h5>
                <p>9.1 ข้อมูลขยะ (Spam) สปายแวร์ (Spyware) หรือ ไวรัส (Virus) นั้นไม่ได้รับอนุญาตบนแพลตฟอร์ม
                    กรุณาตั้งค่าและคงสภาพความต้องการ (Preference)
                    ในการติดต่อสื่อสารเพื่อที่บริษัทจะได้ส่งข้อมูลการติดต่อสื่อสารตามที่ผู้ใช้งานต้องการ
                    ผู้ใช้งานไม่ได้รับอนุญาตหรือยอมรับให้เพิ่มผู้ใช้รายอื่น
                    (ไม่ว่าจะเป็นผู้ใช้ที่เคยซื้อสินค้าจากผู้ใช้งาน) เข้าสู่รายชื่อผู้รับของผู้ใช้งาน
                    (ไม่ว่าอีเมลหรือจดหมาย) เว้นแต่จะได้รับอนุญาตโดยชัดแจ้ง ผู้ใช้งานจะไม่ส่งข้อความใด ๆ ที่มี ข้อมูลขยะ
                    สปายแวร์ หรือไวรัส ผ่านทางแพลตฟอร์ม หากผู้ใช้งานต้องการรายงานข้อความที่น่าสงสัยให้บริษัททราบ
                    ผู้ใช้งานสามารถติดต่อบริษัทผ่านทางช่องทางที่บริษัทกำหนดไว้ด้านล่างนี้</p>
                <br>
                <h5>ข้อ 10 การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว</h5>
                <p>โดยบริษัทขอสงวนสิทธิ์ในการเปลี่ยนแปลงนโยบายความเป็นส่วนตัวได้ตลอดเวลา
                    การเปลี่ยนแปลงนโยบายดังกล่าวจะถูกประกาศหรือตีพิมพ์ไว้ในแอปพลิเคชัน KoiShop App ของบริษัท
                    เว้นแต่จะระบุไว้เป็นอย่างอื่นโดยบทบัญญัติของกฎหมาย กฎหรือข้อบังคับ
                    เนื้อหาที่ปรับปรุงหรือเปลี่ยนแปลงจะมีผล 1
                    วันหลังจากการแจ้งเตือนหรือประกาศหากการเปลี่ยนแปลงดังกล่าวจะส่งผลให้เกิดการสูญเสียสิทธิของผู้ใช้งานภายใต้นโยบายนี้
                    บริษัทจะแจ้งให้ผู้ใช้งานทราบบนตำแหน่งที่ชัดเจนของหน้าแอปพลิเคชันก่อนที่การเปลี่ยนแปลงจะมีผลในกรณีนี้หากผู้ใช้ยังคงใช้แอปพลิเคชันหรือทำการใด
                    ๆ ที่เกี่ยวข้องหลังจากที่นโยบายความเป็นส่วนตัวมีการปรับเปลี่ยนหรือเปลี่ยนแปลง
                    ให้ถือว่าเป็นผู้ใช้งานได้อ่าน เข้าใจ และยอมรับนโยบายความเป็นส่วนตัวที่แก้ไขแล้วและผูกพันตามเงื่อนไข
                </p>
                <br>
                <h5>ข้อ 11 สิทธิของบริษัท</h5>
                <p>11.1
                    ผู้ใช้งานรับทราบและตกลงยอมรับว่าบริษัทมีสิทธิในการเปิดเผยข้อมูลแก่หน่วยงานราชการที่มีอำนาจทางกฎหมาย
                    หน่วยงานการกำกับควบคุมดูแล หน่วยงานของรัฐ หน่วยงานเกี่ยวกับภาษี หน่วยงานในการบังคับใช้กฎหมาย
                    และหน่วยงานอื่น ๆ ที่เกี่ยวข้อง หรือเจ้าหน้าที่ของรัฐที่มีอำนาจและกระทำการโดยชอบด้วยกฎหมาย
                    หรือเจ้าหน้าที่สิทธิต่างๆ ที่เกี่ยวข้อง
                    หากบริษัทมีเหตุอันควรเชื่อได้ว่าการเปิดเผยข้อมูลของผู้ใช้งานนั้น
                    เป็นการจำเป็นสำหรับการปฏิบัติตามหน้าที่ ความรับผิดชอบ การจัดการและข้อตกลง
                    ไม่ว่าโดยสมัครใจหรือการบังคับ เพื่อวัตถุประสงค์ในการให้ความร่วมมือกับคำสั่ง การสอบสวน
                    และ/หรือการร้องขอในรูปแบบต่าง ๆ ของหน่วยงานนั้น ๆ ภายใต้บทบัญญัติของกฎหมาย
                    และการบังคับใช้ของกฎหมายที่เกี่ยวข้อง ผู้ใช้งานตกลงว่าจะไม่ฟ้องร้องดำเนินคดี หรือดำเนินการใดๆ
                    ต่อบริษัท
                    และสละสิทธิ์เรียกร้องหรือสิทธิอื่นใดอันมีต่อบริษัทที่อาจเกิดขึ้นจากการเปิดเผยข้อมูลของผู้ใช้งานตามความในข้อนี้
                </p>
                <br>
                <h5>ข้อ 12 การแก้ไขเปลี่ยนแปลงข้อตกลง</h5>
                <p>12.1บริษัทขอสงวนสิทธิ์ในการแก้ไขปรับเปลี่ยนสิทธิและหน้าที่ที่เกี่ยวข้องกับผู้ใช้งานในข้อตกลงฉบับนี้
                    โดยจะแจ้งไปยังผู้ใช้งานผ่านแอปพลิเคชัน KoiShop App ของบริษัท
                    หากผู้ใช้งานไม่ยินยอมกับการแก้ไขเนื้อหาข้อตกลง ให้ทำการคัดค้านทางอีเมล์หรือโทรศัพท์ภายใน 2
                    วันทำการและหยุดใช้งาน แอปพลิเคชัน KoiShop App ทันที มิเช่นนั้นจะถือว่าได้ยอมรับการแก้ไข</p>
                <p>12.2 เมื่อมีการแจ้งการแก้ไขเปลี่ยนแปลงแล้ว
                    ให้ข้อตกลงฉบับที่มีการแก้ไขเปลี่ยนแปลงมีผลบังคับใช้ในวันที่ทำการแก้ไขเปลี่ยนแปลงเป็นต้นไป
                    โดยผู้ใช้งานไม่สามารถขอให้แก้ไขหรือยกเลิกข้อตกลงฉบับที่มีการแก้ไขเปลี่ยนแปลงได้</p>
                <br>
                <h5>ข้อ 13 ช่องทางการติดต่อบริษัท</h5>
                <p>13.1 สำหรับคำขอที่มีความสมเหตุสมผล บริษัทจะไม่เรียกเก็บค่าธรรมเนียม
                    แต่ถ้าหากเป็นคำขอที่ได้มีการร้องขอมาก่อนนี้ซึ่งเกินข้อจำกัดที่มีความสมเหตุสมผล
                    บริษัทจะเรียกเก็บค่าธรรมเนียมตามความเหมาะสม สำหรับผู้ที่ส่งคำขอซ้ำโดยไม่มีเหตุผลอันจำเป็น
                    จำเป็นต้องใช้เทคนิควิธีมากจนควรเกิน (ตัวอย่างเช่น จำเป็นต้องพัฒนาระบบใหม่
                    หรือเปลี่ยนวิธีปฏิบัติที่มีอยู่เดิม)
                    กระทำการที่มีความเสี่ยงต่อสิทธิที่ถูกต้องตามกฎหมายและผลประโยชน์ของบุคคลอื่น
                    หรือคำขอที่ไม่อาจกระทำได้ในทางปฏิบัติ (ตัวอย่างเช่น
                    เกี่ยวข้องกับข้อมูลที่ถูกจับเก็บในเทปสำรองข้อมูล) บริษัทอาจปฏิเสธคำขอได้</p>
                <p>13.2 ในกรณีที่มีสถานการณ์ดังต่อไปนี้ตามที่กฎหมายและกฎอื่น ๆ ได้กำหนดไว้
                    บริษัทไม่สามารถดำเนินการตามคำขอของผู้ใช้งานได้:</p>
                <ul>
                    <li>เกี่ยวข้องกับความมั่นคงและความปลอดภัยของชาติ</li>
                    <li>เกี่ยวข้องกับความปลอดภัย การสาธารณสุข และประโยชน์สาธารณะส่วนรวม</li>
                    <li>เกี่ยวข้องกับการสืบสวนคดีอาชญากรรม การฟ้องร้อง และการพิจารณาคดี</li>
                    <li>มีหลักฐานเพียงพอว่าผู้ใช้งานมีเจตนาร้ายหรือมีการละเมิดสิทธิ</li>
                    <li>การดำเนินการตามคำขอจะส่งผลให้เกิดความเสียหายอย่างร้ายแรงต่อสิทธิตามกฎหมายของผู้ใช้งานหรือ
                        บุคคลและองค์กรอื่น ๆ</li>
                </ul>
                <p>13.3 หากผู้ใช้งานต้องการเพิกถอนความยินยอมในการใช้ข้อมูลของผู้ใช้งาน ขอเรียกดูข้อมูลและ/หรือข้อมูล
                    มีคำถาม ความคิดเห็น ข้อกังวล ข้อสงสัยประการใด หรือแจ้งความประสงค์ในเรื่องใด ๆ หรือขอความช่วยเหลือทางด้านเทคนิค กรุณาติดต่อมายังบมจ. โค่ยทูยู เบอร์โทรติดต่อ : 092-797-7979, 086-545-5434 หรือผ่านช่องทางไลน์ (Line Id) : @koi2u หรือผ่านอีเมล koi2ushop@gmail.com บริษัทจะดำเนินการตอบกลับผู้ใช้งานภายใน 15 วัน และจะดำเนินการตามคำขอภายใน 30 วันเว้นแต่จะระบุไว้เป็นอย่างอื่น</p>
            </div>
        </div>
    </div>


</body>

</html>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>