<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <!-- <link href="/static/assets/img/favicon.ico" rel="icon"> -->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Mitr' rel='stylesheet'>
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- <link href="/static/assets/lib/slick/slick.css" rel="stylesheet"> -->
    <!-- <link href="/static/assets/lib/slick/slick-theme.css" rel="stylesheet"> -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <!-- Template Stylesheet -->
</head>

<body>

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <!-- <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link">Home</a>
                            <a href="product-list.html" class="nav-item nav-link">Products</a>
                            <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
                            <a href="cart.html" class="nav-item nav-link">Cart</a>
                            <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                            <a href="my-account.html" class="nav-item nav-link active">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                    <a href="login.html" class="dropdown-item">Login & Register</a>
                                    <a href="contact.html" class="dropdown-item">Contact Us</a>
                                </div>
                            </div>
                        </div> -->
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Login</a>
                                <a href="#" class="dropdown-item">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- productmanage Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <div class="head-manage text-center">
                                <h2>การจัดการข้อมูล</h2>
                            </div>
                            <a class="nav-link" id="" href="/productmanage" role="tab"><i
                                    class="fa fa-shopping-bag"></i>&nbsp;&nbsp;การจัดการสินค้า</a>
                            <a class="nav-link" id="" href="/usermanage" role="tab"><i
                                    class="fa fa-user"></i>&nbsp;&nbsp;การจัดการสมาชิก</a>
                            <a class="nav-link" id="" href="/billmanage" role="tab"><i
                                    class="fa fa-shopping-cart"></i>&nbsp;ตรวจสอบการสั่งสินค้า</a>
                            <a class="nav-link" id="" href="/orderhistory" role="tab"><i
                                    class="fa fa-file"></i>&nbsp;&nbsp;ประวัติการสั่งซื้อ</a>
                            <a class="nav-link" id="" href="/deliverymanage" role="tab"><i
                                    class="fa fa-truck"></i>&nbsp;ตรวจสอบการส่งสินค้า</a>
                            <a class="Logout nav-link " href="index.html"><i class="fa fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="productmanage" role="tabpanel"
                            aria-labelledby="productmanage-nav">
                            <div class="text-center">
                                <h2>การจัดการสินค้า</h2>
                            </div>
                        </div>
                        <div class="addproduct"><!-- Bottom Bar Start -->
                            <div class="bottom-bar">
                                <div class="container-fluid">
                                    <div class="row align-items-right">
                                        <div class="col-md-3">
                                            <button class="btn btn-success" data-toggle="modal"
                                                data-target="#addproduct"><i
                                                    class="fas fa-plus-circle mr-2"></i>เพิ่มสินค้า</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-success" data-toggle="modal"
                                                data-target="#ManageCategory"><i
                                                    class="fas fa-plus-circle mr-2"></i>จัดการประเภทสินค้า</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bottom Bar End -->
                        <table id="tableProduct" class="table table-striped table-hover">
                            <thead class="theadheader">
                                <tr>
                                    <th class="text-center">รูป</th>
                                    <th class="text-center">ชื่อสินค้า</th>
                                    <th class="text-center">ประเภทสินค้า</th>
                                    <th class="text-center">ราคา</th>
                                    <th class="text-center">จำนวนสินค้า</th>
                                    <th class="text-center">หน่วยสินค้า</th>
                                    <th class="text-center">จัดการสินค้า</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prod in productLs %}
                                <tr>
                                    <td class="text-center"><img
                                            src="{{ url_for('images', image_name=prod.images[0].imagePath) }}"
                                            height="50px"></td>
                                    <td class="text-center">{{prod.productName}}</td>
                                    <td class="text-center">{{prod.categoryName}}</td>
                                    <td class="text-center">{{prod.price}}</td>
                                    <td class="text-center">{{prod.qty}}</td>
                                    <td class="text-center">{{prod.unit}}</td>
                                    <td class="text-center">
                                        <!-- <a href="#" class="settings text-warning"><i class="fas fa-cog mr-2"
                                                data-toggle="modal" data-target="#editProductModal"></i></a> -->
                                        <a href="#" class="settings text-warning"
                                            onclick="getProduct('{{prod.productId}}')" title="Settings"><i
                                                class="fas fa-cog mr-2"></i></a>
                                        <a href="#" class="delete text-danger"><i class="fas fa-trash-alt mr-2"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- productmanage End -->

    <!--Start Modal Manage Category -->
    <div class="modal fade" id="ManageCategory" tabindex="-1" role="dialog" aria-labelledby="ManageCategoryTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryTitle">จัดการประเภทสินค้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Edit Category Start -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn btn-success" data-toggle="modal" data-target="#addCategory"><i
                                        class="fas fa-plus-circle mr-2"></i>เพิ่มประเภทสินค้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-2">
                        <div class="row">
                            <div class="col-xl-12">
                                <table id="tableCategory" class="table table-striped table-hover">
                                    <thead class="theadheader">
                                        <tr>
                                            <th class="text-center">ลำดับ</th>
                                            <th class="text-center">ชื่อประเภทสินค้า</th>
                                            <th class="text-center">ลบประเภทสินค้า</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cate in categoryLs %}
                                        <tr>
                                            <td class="text-center">{{cate.categoryId}}</td>
                                            <td class="text-center">{{cate.categoryName}}</td>
                                            <td class="text-center">
                                                <a href="#" class="delete text-danger"
                                                    onclick="delCategory('{{cate.categoryId}}')" title="Delete"><i
                                                        class="fas fa-trash-alt mr-2"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- <td class="text-center">1</td>
                                                <td class="text-center">Sample1</td>
                                                <td class="text-center">Exsample1</td>
                                                <td class="text-center">300</td>
                                                <td class="text-center">
                                                    <a href="#" class="settings text-warning"><i class="fas fa-cog mr-2"
                                                            data-toggle="modal" data-target="#editProductModal"></i></a>
                                                    <a href="#" class="delete text-danger"><i class="fas fa-trash-alt mr-2"></i></a>
                                                </td> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Category End -->
                </div>
            </div>
        </div>
    </div>
    <!--End Modal Add Category -->

    <!--Start Modal Add Category -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryTitle">เพิ่มประเภทสินค้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Category Start -->
                    <div class="container-fluid mt-2">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col">
                                            <span class="ml-1">ชื่อประเภทสินค้า</span>
                                            <input type="text" id="categoryName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Category End -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-md-2 btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="button" onclick="createCategory()" class="col-md-2 btn btn-primary">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal Add Category -->

    <!--Start Modal Add Product -->
    <div class="modal fade" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="addproductTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addproductTitle">เพิ่มข้อมูลสินค้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Product Start -->
                    <div class="container-fluid mt-2">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-5">
                                            <span class="ml-1">ประเภทสินค้า</span>
                                            <select class="form-control" id="category">
                                                <option selected>เลือกประเภท</option>
                                                {% for cate in categoryLs %}
                                                <option value="{{cate.categoryId}}">{{cate.categoryName}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <span class="ml-1">ชื่อสินค้า</span>
                                            <input type="text" id="productName" class="form-control">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="ml-1">ราคาสินค้า</span>
                                            <input type="text" id="productPrice" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <span class="ml-1">จำนวนสินค้า</span>
                                            <input type="text" id="productQty" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <span class="ml-1">หน่วยสินค้า</span>
                                            <input type="text" id="productUnit" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="tarea">
                                        <label for="">ข้อมูลสินค้า</label>
                                        <textarea class="form-control" id="productDetail" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- <input type="file" class="custom-file-input" id="productImage"
                                        onchange="imageUploaded()">
                                    <label class="custom-file-label" for="productImage">เลือกไฟล์</label> -->
                                    <div class="upload__box">
                                        <div class="upload__btn-box">
                                            <label class="upload__btn">
                                                <p>Upload images</p>
                                                <input type="file" multiple="" data-max_length="20"
                                                    class="upload__inputfile">
                                            </label>
                                        </div>
                                        <div class="upload__img-wrap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Product End -->
                </div>
                <div class="modal-footer ">
                    <button type="button" class="col-md-2 btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="button" onclick="createProduct()" class="col-md-2 btn btn-primary">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal Add Product -->

    <!--Start Modal Edit Product -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editproductTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editproductTitle">แก้ไขข้อมูลสินค้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Edit Product Start -->
                    <div class="container-fluid mt-2">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-5">
                                            <span class="ml-1">ประเภทสินค้า</span>
                                            <select class="form-control" id="editCategory">
                                                <option selected>เลือกประเภท</option>
                                                {% for cate in categoryLs %}
                                                <option value="{{cate.categoryId}}">{{cate.categoryName}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <span class="ml-1">ชื่อสินค้า</span>
                                            <input type="text" id="editProductName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <span class="ml-1">ราคาสินค้า</span>
                                            <input type="text" id="editProductPrice" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <span class="ml-1">จำนวนสินค้า</span>
                                            <input type="text" id="editProductQty" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <span class="ml-1">หน่วยสินค้า</span>
                                            <input type="text" id="editProductUnit" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="tarea">
                                        <label for="">ข้อมูลสินค้า</label>
                                        <textarea class="form-control" id="editProductDetail" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="form-group-img col-md-12 text-center " id="editProductImages">
                                            <!-- <img src="/static/assets/img/gallery/Pork.jpg" id="showProductImage"
                                                class="rounded" alt=""> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="editProductImage"
                                            onchange="editImageUploaded()">
                                        <label class="custom-file-label" style="width: 100%;"
                                            for="editProductImage">เลือกไฟล์</label>
                                    </div> -->
                                    <div class="upload_edit_box">
                                        <div class="upload_edit_btn-box">
                                            <label class="upload_edit_btn">
                                                <p>Upload images</p>
                                                <input type="file" multiple="" data-max_length="20"
                                                    class="upload_edit_inputfile">
                                            </label>
                                        </div>
                                        <div class="upload_edit_img-wrap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Product End -->
                </div>
                <div class="modal-footer ">
                    <button type="button" class="col-md-2 btn btn-secondary" data-dismiss="modal">ปิด</button>
                    <button type="button" id="btnEditProduct" class="col-md-2 btn btn-primary">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Modal Edit Product -->


    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script> -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Template Javascript -->
    <script>
        $(document).ready(function () {
            $('#tableProduct').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });

            $('#tableCategory').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "responsive": true,
            });
        });

    </script>
    <script src="static/assets/js/productmanage.js"></script>

</body>

</html>